body{
    padding: 70px;
    font-family: Georgia, serif;
}


#page-wrapper{
    border-style: solid;
    border-color: lightgray;
    padding: 70px 70px 70px 70px;
    overflow: hidden;

}

#main-header{
    display: flex;
    justify-content: center;
    font-family: Round,arial,sans-serif;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Georgia, serif;
    font-size: 22px;
    margin: 50px;
    line-height: 0.5%em;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 100;
    font-style: normal;
}
li{
    display: flex;
    justify-content: space-between;
}


a{
    font-family: Round,arial,sans-serif;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 300;
    font-style: normal;
    color: lightgray;
    justify-content: space-between;
}

a:hover {
    text-decoration: underline;
    color: black;
}

#headshot{
    float: left;
    width: 40%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#aboutMeParagraph{
    overflow: hidden;
    line-height: 1.5;
    font-size: 18px;
}


#mid-wrapper{
    border-style: solid;
    border-top: 0cap;
    border-color: black;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}

nav {
    border-top: 2px solid black;  /* Top border */
    border-bottom: 2px solid black; /* Bottom border */
    padding: 1px; /* Optional: Add padding inside the nav */
  }

.assignments{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 20px:
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#assignmentParagraph{
    margin: 3px;
}

#assignmentHeading{
    margin: 3px;
}
